html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
}

.app-content {
  width: 100%;
  min-height: calc(100vh - 64px); /* navbar height */
  padding: 32px 48px;
  background: #f8fafc;
  box-sizing: border-box;
}
